<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml">

<section layout:fragment="menu">
    <li th:each="menuItem : ${menuItemsList}"
        th:classappend="|${not #lists.isEmpty(menuItem.children) ? 'dropdown menu-parent': ''} ${#strings.equals(menuItem.parentId, '0') ? 'menu-parent' : ''}|">
        <div th:if="${not #lists.isEmpty(menuItem.children)}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i th:class="${menuItem.icon}" aria-hidden="true"></i>
                <span class="link-name" th:text="#{${menuItem.text}}"></span>
                <span class="fas fa-chevron-down"></span>
            </a>
            <ul class="dropdown-menu" style="display: none">
                <section layout:insert="~{fragments/menu :: menu}"
                         th:with="menuItemsList=${menuItem.children}"></section>
            </ul>
        </div>
        <div th:if="${#lists.isEmpty(menuItem.children)}">
            <a th:href="@{${menuItem.url}}">
                <i th:class="${menuItem.icon}" aria-hidden="true"></i>
                <span class="link-name" th:text="#{${menuItem.text}}"></span>
            </a>
        </div>
    </li>
</section>
</html>